@import url('./fonts.css');
@import 'tailwindcss';

@theme {
	--color-background: #000;
	--color-foreground: #ebebeb;

	--font-sans: 'Geist', sans-serif;
	--font-serif: 'Instrument Serif', serif;
	--font-mono: 'Geist Mono', monospace;

	--color-dodger-blue: dodgerblue; /* #005a9d */
	--color-dodger-red: #ef3e42;

	--spacing-ch: 1ch;
	--spacing-lh: 1lh;
	--spacing-rlh: 1rlh;
}

@custom-variant hover (&:hover);

@layer base {
	html {
		scroll-behavior: smooth;
		@apply no-scrollbar;
	}

	::selection {
		@apply bg-dodger-blue text-white;
	}

	:focus-visible {
		outline: 0.5px dashed currentColor;
		@apply transition-colors;
	}

	label,
	button,
	select {
		cursor: pointer;
	}

	kbd {
		@media (hover: hover) {
			@apply underline;
		}

		@apply font-sans decoration-current/25;
		text-decoration-skip-ink: none;
		text-underline-offset: 0.4ch;
	}
}

/* layout */

@utility grid-system {
	@apply grid grid-cols-4 gap-lh;
}

/* typography */

@utility h0 {
	@apply font-serif text-7xl;
}

@utility h1 {
	@apply font-serif text-5xl;
}

@utility h2 {
	@apply font-serif text-4xl;
}

@utility h3 {
	@apply font-serif text-3xl;
}

@utility text-trim {
	text-box-trim: trim-both;
	text-box-edge: cap alphabetic;
}

/* components */

@property --action-offset {
	syntax: '<percentage>';
	initial-value: 100%;
	inherits: true;
}

@utility action {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 1ch;
	padding: 0.2ch 1ch;
	transition: var(--default-transition-duration) ease-in-out;
	transition-property: background-color, --action-offset;
	@apply not-hover:bg-current/15 hover:text-white hover:[--action-offset:0%];

	&::before {
		content: '';
		@apply absolute inset-0 bg-dodger-blue mix-blend-color;
		clip-path: inset(0 var(--action-offset) 0 0);
	}
}

@utility link {
	@apply underline decoration-current/10 hover:decoration-current/50;
}

/* utilities */

@utility no-scrollbar {
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
