@import url('./fonts.css');
@import 'tailwindcss';

@theme {
	--color-background: #000;
	--color-foreground: #fff;

	--font-sans: 'Geist', sans-serif;
	--font-serif: 'Instrument Serif', serif;
	--font-mono: 'Geist Mono', monospace;

	--color-dodger-blue: #005a9d;
	--color-dodger-red: #ef3e42;

	--spacing-ch: 1ch;
	--spacing-lh: 1lh;
}

@custom-variant hover (&:hover);

@layer base {
	html {
		scroll-behavior: smooth;
	}

	label {
		cursor: pointer;
	}

	.grid {
		gap: inherit;
	}
}

@utility grid-system {
	grid-template-columns:
		[bleed-start] 0px [content-start] repeat(var(--columns, 4), minmax(0px, 1fr))
		[content-end] 0px [bleed-end];

	@apply grid gap-x-lh;
}

@utility canvas {
	@apply bg-foreground text-background;
}

@utility text-trim {
	text-box-trim: trim-both;
	text-box-edge: cap alphabetic;
}
