@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::selection {
		@apply bg-blue text-white;
	}

	html {
		caret-color: theme('colors.blue');
	}
}

@layer components {
	/* typography */

	._h {
		text-wrap: balance;
	}

	.h1 {
		@apply _h text-3xl;
	}

	.h2 {
		@apply _h text-2xl;
	}

	.h3 {
		@apply _h text-xl;
	}

	/* ctas */

	.clipped {
		clip-path: polygon(0 0, 100% 0, 100% 0, 100% calc(100% - .5em), calc(100% - .5em) 100%, 0 100%);
	}

	.action {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: .2em .8em;
		background: theme('colors.blue');
		color: #fff;

		@apply clipped;

		&[href] {
			@apply transition-[filter] hover:brightness-125;
		}
	}

	/* inputs */

	.input {
		padding: .2em .8em;
		border-radius: 0;
		outline: none;
		@apply border hover:border-blue/50 focus:border-blue focus:ring ring-blue/20;
	}

	/* layout */

	.section {
		@apply max-w-screen-lg mx-auto p-8 max-md:px-4 md:py-12;
	}
}

@layer utilities {
	.full-bleed {
		width: 100vw;
		margin-inline: calc(50% - 50vw);
	}

	.carousel {
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;

		&>* {
			scroll-snap-align: start;
			flex: 0 0 var(--size, min(80vw, 300px));
		}
	}

	/* richtext */

	.richtext {
		& h1 {
			@apply h1;
		}

		& h2 {
			@apply h2;
		}

		& h3 {
			@apply h3;
		}
	}

	/* animations */

	@keyframes anim-fade {
		from {
			opacity: 0;
			translate: var(--x, 0) var(--y, 0);
		}
	}

	.anim-fade,
	.anim-fade-to-l,
	.anim-fade-to-r,
	.anim-fade-to-t,
	.anim-fade-to-b {
		animation: anim-fade var(--duration, 0.2s) ease-in-out forwards;
	}

	.anim-fade {
		--x: 0;
		--y: 0;
	}

	.anim-fade-to-l {
		--x: 1rem;
	}

	.anim-fade-to-r {
		--x: -1rem;
	}

	.anim-fade-to-t {
		--y: 1rem;
	}

	.anim-fade-to-b {
		--y: -1rem;
	}
}
